---
navtab: 'work'
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width">
  {% if page.title == nil %}
    <title>Andrew Berls</title>
  {% else %}
    <title>{{ page.title }} | Andrew Berls</title>
  {% endif %}
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,700|Lora:400,700,400italic" rel="stylesheet" type="text/css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/cheeky.min.css">
  <link rel="stylesheet" href="/css/application.css">

  <link rel="alternate" type="application/atom+xml" title="ATOM" href="/feed.xml" />

  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
  {% include header.html %}

  {{ content }}

  <footer id="footer">
    <div class="container">
      <div class="row"></div>
    </div>
  </footer>

  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9633739-4']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
